body {
    font-family:sans-serif;
    background-color: #E8E8E8;
}

ul {
    list-style-type: none;
    padding-left:0;
}

#wrapper {
    width:1000px;
    margin:0 auto;
}

section {
    background-color: #FFF;
    border:1px solid #CCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    width: 440px;
    float:left;
}

section h2 {
    margin-top:0;
}

section.search {
    width: 920px;
}

.search [name="query"] {
    width:220px;
}


.items li {
    border:1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:7px;
    margin:5px 0;
    position: relative;
    height: 88px;
}

.items li .controls {
    position: absolute;
    top:3px;
    right:5px;
}

.items img {
    float:left;
    width:60px;
}
.items .data {
    float:left;
    margin-left:20px;
    font-size: .85em;
}
.items .title {
    font-weight: bold;
}
.items .score,
.items .type {
    color:#777;
}


a.like {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: -500px -214px url(../img/dashboard_master_sprite.png) no-repeat;
    opacity: 0.6;
}
a.like:hover {
    opacity: 0.9;
}
a.like.liked {
    background-position: -529px -214px;
    opacity: 1;
}


.watchlist .items .controls{
    display: none;
}
.watchlist li:hover .controls {
    display: block;
}

.watchlist .items .delete {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../img/delete_icon.png) no-repeat;
    opacity: 0.6;
}
.watchlist .items .delete:hover {
    opacity: 0.9;
}
